Package: com.qiop1379.bongwater
Name: Bongwater
Depends: mobilesubstrate, firmware (>= 13.0)
Architecture: iphoneos-arm
Description: Completely redesign the phone app contacts screen
Maintainer: qwertyuiop1379 <thoffman8839@gmail.com>
Author: qwertyuiop1379 <thoffman8839@gmail.com>
Section: Tweaks
Version: 1.1.3
Installed-Size: 172
